    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    html {
        position: fixed;
        height: 100%;
        overflow: hidden;
    }

    body {
        margin: 0;
        width: 100vw;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        font-family: candara;
        -webkit-overflow-scrolling: touch;
    }
    @font-face {
        font-family: century-gothic;
        src: url(./fonts/Century\ Gothic.ttf);
    }
    @font-face {
        font-family: cascadia;
        src: url(./fonts/Cascadia.woff);
    }
    @font-face {
        font-family: candara;
        src: url(./fonts/Candara.ttf);
    }
    .font-candara{
        font-family: candara;
    }
    .font-century{
        font-family: century-gothic;
    }
    .font-cascadia{
        font-family: cascadia;
    }
    .paper-yup-1{
        background-size:contain;
        background-image: url(./asset/paper-yup-1.svg);
    }

    :root {
        --blue: #0057FF;
    }

    .font {
        color: var(--blue);
    }

    .text {
        color: #535151;
    }

    .year {
        background-color: var(--blue);
    }

    .leading-fit {
        line-height: 1.3 !important;
    }


    .continuous-text {
        display: inline-block;
        white-space: nowrap;
        max-width: 100%;
    }

    .continuous-text>.line-text {
        border-bottom: 1px solid var(--blue);
    }

    .continuous-text>div>span {
        letter-spacing: 2px;
        color: var(--blue);
        font-weight: 600;
        /* font-size: 40px; */
        padding: 10px;
    }

    .svg-text {
        fill: var(--blue);
        font: bolder 30px Candara;
    }
    .dot{
        width: 16px;
        height: 16px;
        border-radius: 100%;
        position: absolute;
    }
    .dot,.line{
        background-color: var(--blue);
    }
    .school{
        color:var(--blue)
    }
    @media (prefers-reduced-motion: no-preference) {
        .dokjun {
            animation: spin-circle infinite 20s linear;
        }

        .circular-spintext {
            animation: App-logo-spin infinite 20s linear;
        }
    }

    @keyframes spin-circle {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }

    @keyframes App-logo-spin {
        from {

            transform: translateY(24rem) rotate(0deg);
        }

        to {
            transform: translateY(24rem) rotate(360deg);
        }
    }

    svg {
        width: 130px;
        height: 130px;
        transform: scale(.8);
    }

    .bg {
        fill: none;
        stroke-width: 10px;
        /* stroke: #1A2C34; */
    }

    [class^="meter-"] {
        fill: none;
        stroke-width: 3px;
        stroke-linecap: round;
        transform: rotate(90deg);
        transform-origin: 50% 50%;

    }

    .meter-1 {
        stroke-dasharray: 360;
        stroke-dashoffset: 100;
        stroke: var(--blue);
        animation: progress-1 1s ease-out;
    }

    .meter-2 {
        stroke: var(--blue);
        stroke-dasharray: 360;
        stroke-dashoffset: 160;
        animation: progress-2 .75s ease-out;
    }

    .meter-3 {
        stroke: var(--blue);
        stroke-dasharray: 360;
        stroke-dashoffset: 200;
        animation: progress-3 .5s ease-out;
    }

    .meter-4 {
        stroke: var(--blue);
        stroke-dasharray: 360;
        stroke-dashoffset: 90;
        animation: progress-4 .5s ease-out;
    }

    .meter-5 {
        stroke: var(--blue);
        stroke-dasharray: 360;
        stroke-dashoffset: 200;
        animation: progress-5 .5s ease-out;
    }

    @keyframes progress-1 {
        from {
            stroke-dashoffset: 360;
        }

        to {
            stroke-dashoffset: 100;
        }
    }

    @keyframes progress-2 {
        from {
            stroke-dashoffset: 360;
        }

        to {
            stroke-dashoffset: 160;
        }
    }

    @keyframes progress-3 {
        from {
            stroke-dashoffset: 360;
        }

        to {
            stroke-dashoffset: 200;
        }
    }

    @keyframes progress-4 {
        from {
            stroke-dashoffset: 360;
        }

        to {
            stroke-dashoffset: 90;
        }
    }

    @keyframes progress-5 {
        from {
            stroke-dashoffset: 360;
        }

        to {
            stroke-dashoffset: 200;
        }
    }
    .grid>.col-span-1{
        border-bottom: 2px solid black;
    }
    .col-detail{
        overflow: hidden;
        display: flex;
        flex-direction:column;
        justify-content: space-between;
        position: relative;
    }
    .col-image{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .grid>.col-span-1:nth-child(odd) {
        border-right: 2px solid black;
    }